body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

* {
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  color: whitesmoke;
}

p {
  margin: 5px 0;
  color: whitesmoke;
}

button:hover {
  opacity: .7;
}

#ui {
  margin: 0;
  position: absolute;
  top: 10px;
  left: 10px;
}

#popupStartGame h1,
#popupGameOver h1,
#popupWinGame h1 {
  margin-top: -30px;
  font-size: 45px;
  font-style: italic;
  font-weight: bold;
  text-shadow:
    5px 5px 0 #131214,
    5px 3px 0 #131214,
    1px -1px 0 #131214,
    -1px -1px 0 #131214;
}

#popupStartGame button,
#popupGameOver button {
  width: 100px;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  background-color: whitesmoke;
  border: 2px solid black;

  margin-top: 15px;
  cursor: pointer;

  animation: buttonGlow 1s infinite;
  transition: .3s;
}

#popupStartGame {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  background: linear-gradient(180deg, #01518f 35%, rgb(7, 14, 77) 100%);
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.75);
  text-transform: uppercase;
}

#popupGameOver {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  background: linear-gradient(180deg, #7c0202 35%, rgb(65, 4, 2) 100%);
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.75);
  text-transform: uppercase;
}

#popupWinGame {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  background: linear-gradient(180deg, #02680b 35%, rgb(1, 41, 3) 100%);
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.75);
  text-transform: uppercase;
}

@keyframes buttonGlow {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}